<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加单选题</title>
</head>
<body>
    <div>
        <form id="add" method="post" action="addEnglishMultipleChoice.do">
            题目：<br>
            <input type="text" name="topic" /><br>
            答案a:<br>
            <input type="text" name="choice_a" /><br>
            答案b:<br>
            <input type="text" name="choice_b"/><br>
            答案c:<br>
            <input type="text" name="choice_c"/><br>
            答案d:<br>
            <input type="text" name="choice_d"/><br>
            正确选项：<br>
            <input type="text" name="correct_choice" /><br>
            解析：<br>
            <input type="text" name="analysis">
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>